.garis1 {
    border-width: 5px;
    border-style: double;
    border-color: darkgreen;
}
.garis2 {
    border-width: 3px;
    border-style: dotted;
    border-color: darkcyan;
}

.garis3 {
    border: 5px solid darkred;
}

.kotak {
    border-color: darkgoldenrod;
    width:50%;
    height:200px;
    border-top-style:solid;
    border-left-style:dotted;
    border-bottom-style:dashed;
    border-right-style:double;
}